<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="layouts/loginRegistrationTemplate">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FriendZone</title>
</head>
	<body>
	
		<!--Displays the body content of the login form-->
		<div layout:fragment="content">
			<!--Pull in image from internet-->
			<img style="padding-top: 4%; height: 300px; width:auto;" th:src="@{/images/logo.jpg}"/><br/><br/>
			<h1 style="color: Black;">Log In</h1>
			
			<!--Error Message if invalid-->
			<div class="col-10-md" th:if="${param.error}">
				<span style="color:red">Invalid Username or Password.</span>
			</div>
			
			<!--Form to take the user to the home page when submitted and info is validated-->
			<form class="row g-3" th:action="@{/}" method="post">
				<!--Username entry-->
				<div class="col-md-12">
					<label for="username" class="col-sm-2 col-md-1 col-form-label">User Name:</label>
					<input type="text" name="username" id="username" placeholder="UserName" required>
				</div>
				<!--Password Entry-->
				<div class="col-md-12">
					<label for="password" class="col-sm-2 col-md-1 col-form-label">Password:</label>
					<input type="password" name="password" id="password" placeholder="Password" required>
				</div>
				<!--Button to Log In -->
				<div class="col-md-12">					
					<div class="col-sm-2 col-sm-2" style="width:fit-content; text-align: center;">
						<button type="submit" class="btn btn-primary" width=150px>Log In</button>
					</div>
				</div>
			</form><br/>
			
			<!-- Forgtot Password link (temporarily hidden - non-funtioning) -->
			<div class="col-sm-1" style="display:none">
				<a style="color:blue; text-decoration: none;" th:href="@{/forgot-password/}">Forgot Password?</a>
			</div>
			
			
			<!--Link to the registration form-->
			<a th:href="@{/registration/}" class="btn btn-outline-secondary">Register a New Profile</a><br/>
		</div>
	</body>
</html>